.top {
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: rgb(5, 3, 3);
border-radius: 20px;
font-family: 'Times New Roman', Times, serif;
color: aliceblue;
}

#foto1 {
    width: 150px;
    height: 150px;
}

#foto2 {
    width: 150px;
    height: 150px;
}

.links {

    display: flex;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;

}
a {
    color: black;
}