body{
    margin: auto;
    align-items: center;
    height: 100%;


}

.top {
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: rgb(5, 3, 3);
border-radius: 20px;
font-family: 'Times New Roman', Times, serif;
color: aliceblue;
}

#foto1 {
    width: 150px;
    height: 150px;
}

#foto2 {
    width: 150px;
    height: 150px;
}

.links {

    display: flex;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-top: 20px;
   

}
a {
    color: black;
}

.into {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 5px black;
    border-radius: 4px;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif ;
    padding: 20px;
    margin-top: 20px;
    
}

.books {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

.books img {
    width: 250px;
    height: 300px;
}

.fei {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;

    }

h2 {
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.contato {
    display: flex;
    justify-content: center;
    flex-direction:row;
    gap: 10px;
    padding: 20px;
    

}

#nome {
    list-style: none;
    padding: 2px;

}

#email {
    list-style: none;
    padding: 2px;
}